:root {
  font-family: system-ui, Inter,sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 100px;
  /* padding: 0.6em 1.2em; */
  cursor: pointer;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
